@CHARSET "UTF-8";
body{
	font-size: 0.8em;
	text-align: center;
}

div#comparisonDiv{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

table#characteristics, table#comparisonTable{
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

table#characteristics{
	max-width: 900px;
}

table#comparisonTable{
	clear:both;
}

table#characteristics td, table#characteristics th, table#comparisonTable td, table#comparisonTable th{
	border: 1px solid gray;
}

td.tableValue, td.compareValue{
	font-size: 0.9em;
	word-break: break-word;
}

td.compareValue{
	width: 42%;
}

#content{
	margin: 0 auto;
	text-align: left;
	width: 500px;
}

div#questionnaire{
	margin: 0 auto;
	text-align: right;
	width: 500px;
}

#testLink{
	text-align: center;
}

#footer{
	padding-top: 20px;
	padding-bottom: 40px;
	margin: 0 auto;
	width: 600px;
	font-size: 0.8em;
	text-align: center;
	clear:both;
}

td.hovertext{
	width: 8%;
	cursor: help;
	text-decoration: underline dashed;
}

td.hovertext:hover{
	text-decoration: underline;
}

img{
	border: none;
	outline: none
}

.error{
	color: red;
}

#compareDiv{
	width: 450px;
	margin-left: auto;
	margin-right: auto;
}

#viewDiv{
	width: 240px;
	margin-left: auto;
	margin-right: auto;
}

div.sampleBox{
	padding: 0.5em;
}

select.historySelect{
	min-width: 180px;
	display: inline-block;
}

input.sampleViewButton{
	width: 100%;
	border: 0px;
	color: rgb(0,128,0);
}

tr.compareMatch{
	background-color: rgb(152,251,152);
}

tr.compareDifferent{
	background-color: rgb(255,192,203);
}

div.comparisonUniqueness{
	display: inline-block;
	max-width: 42%;
	width: 42%;
}

table.viewOptionsTable{
	border-collapse: collapse;
	border: 0px;
}

td.viewOptionsTd{
	border: 1px solid black;
	padding: 0.5em;
}

td.viewOptionsButtonTd{
	border: 1px solid black;
	padding: 0px;
}

input.viewUuidTextbox{
	display: inline-block;
}

p.continueReading{
	text-align: center;
}

#statisticsDiv{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

div#hstsID{
	text-align:center;
}